<h1 class="text-3xl font-bold underline text-gray-500">
    Welcome to the Posts!
</h1>
<p>read everthing people are talking about...</p>
<ul class="mt-10">
    <% if @ideas %>
        <% @ideas.each do |idea| %>
            <li class="flex justify-between bg-gray-400 rounded ml-5">
                <div>
                    <%= image_tag(idea.picture_url(:thumb), class: 'object-cover h-25 w-15') if idea.picture.present? %>
                </div>
                <div class="py-8">  
                    <%= idea.name %>  
                </div>
                <div class="py-8">
                    <%= idea.description%>  
                </div>
                <div class="bg-blue-500 hover:bg-blue-700 text-white rounded px-3 w-40 text-center py-8">
                    <%= link_to "see this post!", idea_path(idea.id) %>
                </div>
            </li>
            <br>
        <% end %>
    <% end %>
</ul>
